<h1>Sign Up</h1>
<form action="/users/create" method="post" enctype="multipart/form-data">
  <input type="text" name="name" id="name" placeholder="Your Name" required />
  <input
    type="email"
    name="email"
    id="email"
    placeholder="Your Email"
    required
  />
  <input
    type="password"
    name="password"
    id="password"
    required
    placeholder="Your Password"
  />
  <input
    type="password"
    name="confirm_password"
    id="confirm_password"
    placeholder="Confirm Your password"
    required
  />
  <input type="file" name="avatar" id="avatar" placeholder="profile picture" />
  <input type="submit" value="signup" />
</form>
